@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-size: 62.5%;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  font-weight: 400;
  padding-top: 9.6rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
